@model IEnumerable<Liberty.Data.Author>
@{
    ViewBag.Title = "SelectableAuthor";
}

<div id="authorSelectors">
    @foreach (var a in Model)
    {
        Html.RenderPartial("SelectableAuthor", a);
    }  
</div>
