@model Liberty.Data.Publication

@{
    ViewBag.Title = "Publication";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Person Details</h4>
            </div>
            <div id='modal-body'></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <label class="col-lg-2">Title</label>
        @Html.TextBoxFor(e => e.Title)
    </div>
    <div class="row">
        <label class="col-lg-2">Author</label>
    </div>
    <div class="row">
        <label class="col-lg-2">ISBN</label>
        @Html.TextBoxFor(e => e.ISBN)
    </div>
    <div class="row">
        <label class="col-lg-2">Genre</label>
        @Html.DisplayFor(e => e.Genres)
    </div>
    <div class="row">
        @Ajax.ActionLink("Add Genre", "_ajaxAddGenre",new AjaxOptions{InsertionMode = InsertionMode.Replace})
    </div>
</div>






