body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.modal-body{
    background-color: white;
}


.author{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
}


.genre{
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
}

.over{
    border: 2px solid green;
}

.overError{
    border: 2px solid red;
}

.hideCollapse{
    display:none;
}

.hideStatic{
    visibility:hidden;
}

#confPopup{
    width: 800px;
    padding: 20px;
    top: 10px;
    position: absolute;
    background-color: aliceblue;
}

.modal{
    top: auto;
    margin: auto;
}

.datepicker{
    z-index: 1151  !important;
}