<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Liberty.Data.Properties.Settings.Liberty_Data_StoreConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=.\..\LibertyFinanical.Web\app_data\Liberty.Data.Store.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>