@{
    ViewBag.Title = "Index";
}


<div class="row">
    <article>
        <header>
            <h3>Searching</h3>
            All screens implement searching the same way viz: empty search criteria return all records.
        </header>
    </article>
    <article>
        <header>
            <h3>Borrowing</h3>
        </header>
        <ol>
            <li>Select the Members tab</li>
            <li>Search for the member</li>
            <li>Click on the Borrow link</li>
            <li>The list display's the books the member currently has on loan. If they have borrowed as many as they are allowed, the message indicates that they must return books before they can borrow more</li>
            <li>Search for the book the member wishes to borrow, set the date and borrow the book.</li>
        </ol>
    </article>
    <article>
        <header><h3>Publications</h3></header>
        To create a new publication:
        <ol>
            <li>Select the Publications tab</li>
            <li>Select the Add New Publication link</li>
            <li>Fill in the fields</li>
            <li>To add author/s to the publication, click on the 'Show Authors' link and then drag them onto the 'Drop Author Here' node</li>
            <li>To delete an author, click on the 'x' link on the author node</li>
            <li>Copies Owned sets the maximum number of copies available for loan. When this count is &lt; 1 (calculated from the number of borrowings that have not been returned) then the book cannot be borrowed</li>
        </ol>
    </article>
    <article>
        <header><h3>Members</h3></header>
        To add a new member:
        <ol>
            <li>Select the Members tab</li>
            <li>Select the Add New Member link</li>
            <li>Fill in the fields</li>
            <li>Max Borrowings is the maximum number of books that a member can have on loan at any one time</li>
        </ol>
    </article>
</div>
