@model IEnumerable<Liberty.Data.Genre>
@{
    ViewBag.Title = "Genre";
}


<div class="modal-body">
    <select id="genres">
        @foreach (var g in Model)
        {
            <option id="@g.Id" value="@g.GenreName" />
        }
    </select>
</div>



