@model LibertyFinancial.Web.MVC5.Models.PublicationSearchParameters

@{
    ViewBag.Title = "Index";
}

<h2>Publications</h2>


<div class="row">
    @using (Ajax.BeginForm("_ajaxPublicationSearch", new AjaxOptions { UpdateTargetId = "publicationList", InsertionMode = InsertionMode.Replace }))
    {
        <div class="row">
            <label class="col-sm-4">Search by Author Surname</label>
            @Html.TextBoxFor(e => e.AuthorLastName)
        </div>
    <div class="row">
        <label class="col-sm-4">Search by Book Title</label>
        @Html.TextBoxFor(e => e.BookTitle)
        </div>
    <div class="row">
        <label class="col-sm-4">Search by ISBN</label>
        @Html.TextBoxFor(e => e.ISBN)
        </div>
        <div class="row">
    <button class="btn btn-Primary">Search</button>
            </div>
    }
</div>
<div class="row">
    @Ajax.ActionLink("Add New Publication", "_ajaxSavePublication", null, new AjaxOptions { UpdateTargetId = "publicationList", HttpMethod = "Get", InsertionMode = InsertionMode.Replace },new { @class = "btn btn-Primary" })
</div>

<div class="row" id="publicationList"></div>
