@model  LibertyFinancial.Web.MVC5.Models.AuthorSearchParams

@{
    ViewBag.Title = "Authors";
}

<h3>Authors</h3>



<div class="row">
@using (Ajax.BeginForm("_ajaxAuthorSearch", new AjaxOptions {UpdateTargetId = "authorList", InsertionMode=InsertionMode.Replace}))
{
    <label class="col-sm-4">Search by Surname</label>
    @Html.TextBoxFor(e => e.AuthorLastName)
    <button class="btn btn-Primary">Search</button>
}
</div>
<div class="row">
    @Ajax.ActionLink("Add Author", "_ajaxSaveAuthor", new {@class="btn"}, new AjaxOptions{UpdateTargetId = "authorList", HttpMethod="Get", InsertionMode=InsertionMode.Replace})
</div>
<div class="row" id="authorList"></div>
 
