@model IEnumerable<Liberty.Data.Author>
@foreach (var item in Model)
{
    <div class="row">
        @Html.DisplayFor(modelItem => item.AuthorLastName), @Html.DisplayFor(modelItem => item.AuthorFirstName)
    </div>
}

